node_modules/
vendor/
.git/
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
bootstrap/cache/*
*.log
.DS_Store
Thumbs.db
